/* Styles for the header */
header {
    background-color: #221f1f;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    height: 30px;
  }
  
  header a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Styles for the main section */
  main {
    background-image: url('https://www.fillmurray.com/1920/1080');
    background-size: cover;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  main h1 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  form {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    color: #777;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    width: 100%;
  }
  
  button {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
  